<html>
    <head>
        <title>Admin Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
      </head>
<body style="background-image: url('Img/News.jpg');">

    <div class="card text-center" style="width: 500px;left:30%;margin-top: 10%">
        <div class="card-header bg-danger" style="color: white;">
          Admin Login
        </div>
        <div class="card-body">
            <form class="form-horizontal" action="/ahome" method="post">
    <div class="form-group " style="width: 100%;">
      <label class="control-label" for="email">Email:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="pwd">Password:</label>
      <div class="col-sm-12">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
    </div><br><br>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-12">
        <button type="submit" class="btn btn-default btn-danger" style="width: 100%;">Submit</button>
      </div>
    </div>
  </form>
        </div>
        <div class="card-footer text-muted bg-danger" >
          <a style="color: white;">This is Admin LOGIN</a>
        </div>
      </div>
    <script>
      let animation = anime({
        targets: '.card',
        // Properties
        scaleY: 200,
        // Property Parameters
        duration: 500,

        easing: 'linear',
        // Animation Parameters
        direction: 'alternate'
      });
    </script>
</body>

</html>